@{
    ViewData["Title"] = "Home Page";
    ViewBag.TabName = "Miscellaneous";
    
}

<head>
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="content-container2">
    @if (ViewBag.Purchase != null)
    {
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Purchase Successful. Thank you for your support</h1>

                    </div>
                </div>
            </div>
        </div>

    }
    <section class="landing-page">
        <div class="parallax">
            <div class="center-container-col landing-msg">
                <h1 data-aos="fade-down" data-aos-duration="1500">
                    Taste the LOVE in every bite
                </h1>
                <div class="center-container landing-btns ">
                    <a href="" class="landing-btn btn-left">Catering</a>
                    <a asp-controller="Order" asp-action="Listing" class="landing-btn btn-right">Order Now</a>
                </div>
            </div>
        </div>

    </section>
    <section class="deals center-container">
        <img src="~/images/homeimages/winter.png" />
    </section>
    <section class="points center-container">
        <img src="~/images/homeimages/points.png" />
    </section>
    

</div>


