<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JSandwiches.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500&family=Dosis:wght@200;300;400;500;600;700;800&family=Karla:wght@200;300;400;500;600;700;800&family=Trochut&family=Gochi+Hand&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JSandwiches.MVC.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vibrantjs/1.0.0/Vibrant.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
@{
    string role = Context.Session.GetString("RoleSession")!;
    string login = Context.Session.GetString("LoginSession")!;
}
<body>

    @if ((ViewData["Title"] != null && ViewData["Title"] != "Login" )&&( ViewData["Title"] != null && ViewData["Title"] != "Sign Up"))
    {
        <header>
            <nav>
                @if (login != null)
                {
                    @switch (@role)
                    {
                        case "Admin":
                            <partial name="Navbars/_adminNav" />
                            break;

                        case "Kitchen":
                            <partial name="Navbars/_kitchenNav" />
                            break;

                        case "CService":
                            <partial name="Navbars/_cServiceNav" />
                            break;

                        case "Customer":
                            <partial name="Navbars/_customerNav" />
                            break;
                    }
                }
                else
                {
                    <partial name="Navbars/_customerNav" />
                }
            </nav>
        </header>

    }
  
        
            @RenderBody()

    @if ((ViewData["Title"] != null && ViewData["Title"] != "Login") && (ViewData["Title"] != null && ViewData["Title"] != "Sign Up"))
    {
        <partial name="_footer" />
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        AOS.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
