@model JSandwiches.Models.SpecialFeaturesDTO.LoyaltyPointDTO

@{
    ViewData["Title"] = "Loyalty Point";
}


<head>
    <link href="~/css/upsert.css" rel="stylesheet" asp-append-version="true" />
</head>


<div class="content-container">
    <div class="form-header center-container-col">
        <h1>Update Form</h1>
        <p>Please fill in the form below</p>
    </div>

    <form asp-action="Edit" class="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset>
            <legend></legend>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </fieldset>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
