@model JSandwiches.MVC.Models.ViewModels.DealSpecificsVM

@{
    ViewData["Title"] = "Deal Specifics";
        ViewBag.TabName = "";
}


<head>
    <link href="~/css/upsert.css" rel="stylesheet" asp-append-version="true" />
</head>


<div class="content-container">
    <div class="form-header center-container-col">
        <h1>Update Form</h1>
        <p>Please fill in the form below</p>
    </div>

    <form method="post" class="form">
        <fieldset>
            <legend></legend>

            <div class="form-group">
                <div class="form-group">
                    <input asp-for="DealSpecificsDTO.Id" class="form-control" hidden />
                </div>
                <label class="control-label">Deal Name</label>
                <select asp-for="DealSpecificsDTO.DealID" asp-items="@Model.ddlDeals">
                    <option selected disabled>Select Deal Name</option>
                </select>
                <span asp-validation-for="DealSpecificsDTO.DealID" class="text-danger"></span>
            </div>
            <span>
                <div class="form-group">
                    <label asp-for="DealSpecificsDTO.StartDate" class="control-label"></label>
                    <input asp-for="DealSpecificsDTO.StartDate" class="form-control" />
                    <span asp-validation-for="DealSpecificsDTO.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DealSpecificsDTO.EndDate" class="control-label"></label>
                    <input asp-for="DealSpecificsDTO.EndDate" class="form-control" />
                    <span asp-validation-for="DealSpecificsDTO.EndDate" class="text-danger"></span>
                </div>
            </span>
            <div class="form-group">
                <label asp-for="DealSpecificsDTO.Percentage" class="control-label"></label>
                <input asp-for="DealSpecificsDTO.Percentage" class="form-control" />
                <span asp-validation-for="DealSpecificsDTO.Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label>
                <input asp-for="DealSpecificsDTO.ImagePath" class="form-control">
                <span asp-validation-for="DealSpecificsDTO.ImagePath" class="text-danger"></span>
            </div>
            <div class="button-group center-container">
                <button asp-action="Index" class="button cancel">Cancel</button>
                <button type="submit" class="button create">Edit</button>
            </div>
        </fieldset>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

